.divya {
	padding: 50px;
    padding-left: 400px;
    padding-right: 400px;
}
.cute{
	padding-top: 3%;
	
}
.cute1{
	padding-top: 3%;
color: white;

}
.divv{
	
background-color: #404142;
padding-bottom: 3%;
}
.cute8{
 	background-color: black;
 	padding-bottom: 10%;
 	padding-top: 5%;

 }

