.support{
	background-image:url('https://t3.ftcdn.net/jpg/03/00/40/08/240_F_300400890_gIVeecUgaknasaavuK1xYtUudTv6Qalw.jpg');
	height: 110vh;
	background-size: cover;
	color: black;
	text-align:center;
	padding-top: 13%;
	font-weight:bolder;
	padding-left: 20%;
	padding-right: 20%;

}
.cute8{
 	background-color: black;
 	padding-bottom: 10%;
 	padding-top: 5%;
}